In [1]:
from __future__ import division, unicode_literals, print_function
import itertools
import numpy as np
import pandas as pd

# 2. 心理学実験のための知識
基本的に，実験は，

* 出力データの作成
* 呈示刺激の準備
* 試行回数ぶんのforループ

で構成されます．

## 2.1. 出力データの作成

### 2.1.1. 最初のデータフレーム

In [2]:
# 慣れるとpd.MultiIndexも便利です．興味がある方はぜひ．
conditions = list(itertools.product(('a1', 'a2'), ('b1', 'b2', 'b3')))
df = pd.DataFrame(conditions, columns=['A', 'B'])
df.head()

    A   B
0  a1  b1
1  a1  b2
2  a1  b3
3  a2  b1
4  a2  b2

### 2.1.2. 被験者番号とRTと反応キーの列を設定

In [3]:
df['subj'] = 1
df['RT'] = 0
df['key'] = ''

### 2.1.3. 複製

In [4]:
pd.concat([df, df])  # dfとdfが縦に連結 (concatenate) された

    A   B  subj  RT key
0  a1  b1     1   0
1  a1  b2     1   0
2  a1  b3     1   0
3  a2  b1     1   0
4  a2  b2     1   0
5  a2  b3     1   0
0  a1  b1     1   0
1  a1  b2     1   0
2  a1  b3     1   0
3  a2  b1     1   0
4  a2  b2     1   0
5  a2  b3     1   0

In [5]:
li = []
for i in range(3):
    li.append(df)  # 4コのデータフレームからなるlistを作成して，
pd.concat(li)  # それらを全て結合し「繰り返し4回」を実現する

    A   B  subj  RT key
0  a1  b1     1   0
1  a1  b2     1   0
2  a1  b3     1   0
3  a2  b1     1   0
4  a2  b2     1   0
5  a2  b3     1   0
0  a1  b1     1   0
1  a1  b2     1   0
2  a1  b3     1   0
3  a2  b1     1   0
4  a2  b2     1   0
5  a2  b3     1   0
0  a1  b1     1   0
1  a1  b2     1   0
2  a1  b3     1   0
3  a2  b1     1   0
4  a2  b2     1   0
5  a2  b3     1   0

### 2.1.4. ランダマイズ

In [6]:
n_trial = len(df)
randomized_index = np.random.permutation(n_trial)  # ランダムな並び替えを取得
randomized_index

array([0, 3, 4, 2, 5, 1])

In [7]:
df = df.iloc[randomized_index, :]
df

    A   B  subj  RT key
0  a1  b1     1   0
3  a2  b1     1   0
4  a2  b2     1   0
2  a1  b3     1   0
5  a2  b3     1   0
1  a1  b2     1   0

In [8]:
df.reset_index(inplace=True, drop=True)  # 並び替えたインデックス番号のリセット
df

    A   B  subj  RT key
0  a1  b1     1   0
1  a2  b1     1   0
2  a2  b2     1   0
3  a1  b3     1   0
4  a2  b3     1   0
5  a1  b2     1   0

## 2.2. 例: Stroop課題の実験用データフレームを作成する

In [9]:
SUBJECT_ID = 1
N_REPEAT = 3

# 慣れるとpd.MultiIndexも便利です．興味がある方はぜひ．
conditions = list(itertools.product(('R', 'G', 'B'), ('赤', '緑', '青')))
df = pd.DataFrame(conditions, columns=['ink', 'text'])
df['subj']  = SUBJECT_ID
df['RT'] = 0
df['key'] = ''

# 繰り返し 
li = []
for i in range(N_REPEAT):
    li.append(df)
df = pd.concat(li)  # or df = pd.concat([df for i in range(N_REPEAT)])

# ランダマイズ
randomized_index = np.random.permutation(len(df))
df = df.iloc[randomized_index, :]
df.reset_index(inplace=True, drop=True)

In [10]:
df  # 3 * 3水準，繰り返し3回 = 27行のデータフレームが作成された．

   ink text  subj  RT key
0    R    赤     1   0
1    R    青     1   0
2    B    赤     1   0
3    R    青     1   0
4    G    青     1   0
5    B    青     1   0
6    B    緑     1   0
7    B    赤     1   0
8    G    青     1   0
9    B    青     1   0
10   G    青     1   0
11   R    赤     1   0
12   G    緑     1   0
13   G    赤     1   0
14   B    青     1   0
15   R    赤     1   0
16   G    赤     1   0
17   B    緑     1   0
18   G    赤     1   0
19   G    緑     1   0
20   R    緑     1   0
21   R    緑     1   0
22   B    緑     1   0
23   G    緑     1   0
24   B    赤     1   0
25   R    青     1   0
26   R    緑     1   0

## 2.2. 呈示刺激の準備
(省略)

## 2.3. 試行回数ぶんのforループ

### 2.3.1. df.iterrows()
df.iterrows()は，データフレームを1行目から順番に返す．

In [11]:
for index, values in df[:3].iterrows():  # dfの頭3行
    print('================')
    print(index)
    print('----------------')
    print(values)

================
0
----------------
ink     R
text    赤
subj    1
RT      0
key
Name: 0, dtype: object
================
1
----------------
ink     R
text    青
subj    1
RT      0
key
Name: 1, dtype: object
================
2
----------------
ink     B
text    赤
subj    1
RT      0
key
Name: 2, dtype: object

### 2.3.2. 値の代入
~~df.iterrows()は"参照渡し"を行うため，condやvalueを変更するともとのdfも変更される．~~

すいません，iterrowsは状況によって参照渡しする値渡しする場合と値渡しする場合があるようです．ので，素直にlocで行番号を指定して代入していきます．

In [12]:
df.loc[index, :]  # ↑のループで，indexには2が入っている．

ink     B
text    赤
subj    1
RT      0
key
Name: 2, dtype: object

In [13]:
df.loc[index, 'RT'] = 999
df.head()  # 頭5行を表示

  ink text  subj   RT key
0   R    赤     1    0
1   R    青     1    0
2   B    赤     1  999
3   R    青     1    0
4   G    青     1    0